/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bungee-Regular";
  src: url("../img/Bungee-Regular.otf") format("truetype");
}

body {
  font-family: "Bungee-Regular";
  background-image: url(../img/bgi-game.jpg);
  color: #fff;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

a {
  color: black;
}

header {
  text-align: center;
  margin: auto;
}

/* ? Classe per nascondere sezioni */
.hide {
  display: none;
}

/* | HEADER SECTION | */
header img {
  height: 120px;
  margin: 40px 0;
}

/* | MAIN SECTION | */
main {
  text-align: center;
}

/* | NUmeri da Indovinare | */
.card_numbers {
  display: flex;
  justify-content: center;
}

.card_numbers .number {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
  position: relative;
  transition: transform 3s;
  transform-style: preserve-3d;
}

/* .card_numbers .number:hover {
  transform: rotateY(0.5turn);
} */

/* * Animazione per mostrare carte */
.number.flip_on {
  animation: flipCardsOn 1s linear;
  animation-fill-mode: forwards;
}

@keyframes flipCardsOn {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(0.5turn);
  }
}

/* * Animazione per nascondere carte */
.number.flip_off {
  animation: flipCardsOff 1s linear;
  animation-fill-mode: forwards;
}

@keyframes flipCardsOff {
  0% {
    transform: rotateY(0.5turn);
  }
  100% {
    transform: rotateY(0);
  }
}

.back_card,
.front_card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card_numbers .number .back_card {
  width: 200px;
  height: 200px;
  background-color: #fee333;
  border-radius: 50px;
  /* transform: rotateY(0.5turn); */
}

.card_numbers .number .front_card {
  width: 200px;
  height: 200px;
  background-color: #fff;
  color: #fee333;
  border: 10px solid #93268f;
  border-radius: 50px;
  transform: rotateY(0.5turn);
}

.front_card p {
  line-height: 180px;
  font-size: 6em;
  text-shadow: 5px 5px 0 #400152;
}

/* | SEZIONE START GAME | */
.start {
  position: relative;
  margin-top: 60px;
}

.start img {
  width: 250px;
}

.start p {
  position: absolute;
  font-size: 3em;
  top: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

/* | SEZIONE NUMERI UTENTE | */
.user_numbers {
  margin-top: 50px;
  text-align: center;
}

.user_cards {
  display: flex;
  justify-content: center;
}

.user_cards .number {
  margin-right: 50px;
}

.user_cards .number input {
  width: 200px;
  height: 200px;
  background-color: #fff;
  color: #fee333;
  border: 10px solid #93268f;
  border-radius: 50px;
  font-size: 6em;
  text-shadow: 5px 5px 0 #400152;
  text-align: center;
  font-family: "Bungee-Regular";
}

/*- Rimozione frecce dal campo di inserimento numero */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.select_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.select_items p {
  width: 60%;
  line-height: 22px;
  margin-right: 50px;
  padding: 10px;
  font-size: 1.5em;
}

.select_items .btn {
  background: linear-gradient(
    145deg,
    rgba(255, 123, 172, 1) 0%,
    rgba(123, 3, 144, 1) 60%
  );
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1.5em;
  cursor: pointer;
}
